.heading {
    background-color: thistle;
    color: hotpink;
}

.paragraph {
    color: chartreuse;
}

#heading {
    color: crimson;
}

#paragraph {
    color: indigo;
}

.Heading {
    color: teal;
}

.Paragraph {
    color: darkred;
}